<form class="form"
      (ngSubmit)=addAuthorizationForm(authorizationForm)>
	<div class="form__title">АВТОРИЗАЦИЯ НА САЙТЕ</div>
	<mat-form-field *ngIf="settingsForm.isLogin"
	                class="form__field"
	                appearance="outline">
		<mat-label>Login</mat-label>
		<input
			class="form__input"
			matInput
			type="text"
			name="login"
			required
			[(ngModel)]="authorizationForm.login"/>
	</mat-form-field>
	<mat-form-field *ngIf="settingsForm.isPassword"
	                class="form__field"
	                appearance="outline">
		<mat-label>Password</mat-label>
		<input
			class="form__input"
			matInput
			type="password"
			name="password"
			required
			[(ngModel)]="authorizationForm.password"/>
	</mat-form-field>
	<mat-form-field *ngIf="settingsForm.isEmail"
	                class="form__field"
	                appearance="outline">
		<mat-label>@mail</mat-label>
		<input
			class="form__input"
			matInput
			type="email"
			name="email"
			[(ngModel)]="authorizationForm.email"/>
	</mat-form-field>
	<mat-form-field *ngIf="settingsForm.isLocation"
	                class="form__field"
	                appearance="outline">
		<mat-label>Location</mat-label>
		<input
			class="form__input"
			matInput
			type="text"
			name="location"
			[(ngModel)]="authorizationForm.location"/>
	</mat-form-field>
	<mat-checkbox class="form__checkbox"
	              name="something"
	              [(ngModel)]="authorizationForm.isRememberMe">Запомнить меня
	</mat-checkbox>
	<div class="form__link-wrapper">
		<a class="form__password-link"
		   href="#"> Забыли пароль?</a>
		<button mat-raised-button
		        color="primary"
		        type="submit">ВОЙТИ
		</button>
	</div>
</form>
