.form {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0  5px 5px darkgray;
  &__title {
    background-color: black;
    color: white;
    border-radius: 10px  10px 0 0;
    text-align: center;
    font-size: 20px;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    }
  &__checkbox {
    text-align: center;
    margin-bottom: 10px;
  }
  &__link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  &__field {
    padding: 0 10px;
    width: 100%;
  }
}